.sidebar-group-header {
	padding: 0.25rem;
	display: flex;
	align-items: center;
	border: 1px solid lightgray;
	border-radius: 0.5rem;

	i {
		width: 2rem;
		margin-right: 0.25rem;
		display: flex;
		justify-content: center;
	}
}

.sidebar-group-content {
	margin-left: 0.5rem;
}
