.sidebar-route {
  color: var(--primary-font-color);

  i {
    width: calc(1.5rem + 1px);
    text-align: center;
    margin-right: 0.5rem;
  }
}

.sidebar-route:hover {
  color: var(--primary-hover-color);
}
